*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	overflow-x: hidden;
	background: #8ab0b0;
	cursor: url('../image/cursor.svg'), auto;
	min-height: 100vh;
}

a:hover{
	cursor: url('../image/hover.svg'), auto;
}

.loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	max-width:100%;
	z-index: 9999;
	background-color: #5aa6a5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wavy{
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2)) ;
}

.wavy span{
	position: relative;
	display: inline-block;
	color: white;
	font-size: 2em;
	animation: animate 2s ease-in-out infinite;
	animation-delay: calc(0.2s * var(--i));
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%,100%{
		transform: translateY(0px);
	}
}

.header{
	height: 8vh;
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

#headerContainer{
	width: 100%;
	position: absolute;
	background-color: transparent;
	display: flex;
	min-height: 22vh;
	align-items: center;
	justify-content: space-around;
	transition: 0.8s ease;
}

.mainNav{
	position: absolute;
	right: 17%;
}

.headerContainer .mainNav ul li{
	display: block;
	float: left;
	list-style: none;
}

.headerContainer .mainNav ul li a{
	color: white;
	text-decoration: none;
	transition: 0.5s ease-in-out;
	padding: 5px 20px;
}

.headerContainer .mainNav ul li a:hover{
	background-color: white;
	color: #6a9d9f;
	text-decoration: none;
}

.burgerwrapper{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9999;
}

.menulogo{
	position: relative;
	max-width: 250px;
}

.menulogo img{
	width: 100%;
	height: 100%;
}

.menu{
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.8s ease-in-out;
}

.menu.active{
	opacity: 1;
	background: #5aa6a5;
	z-index: 9998;
}

.data_wrapper{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.data{
	opacity: 0;
	pointer-events: none;
	transition: 0.8s;
}

.data.active{
	opacity: 1;
	pointer-events: all;
}

.data ul{
	letter-spacing: 3px;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.data li{
	margin-top: 35px;
	margin-bottom: 35px;
}

.data ul a{
	color: #fff;
	text-decoration: none;
}

.rwdBurger{
	display: none;
	cursor: pointer;
	margin-top: 20px;
}

.rwdBurger div{
	background-color: white;
	width: 25px;
	height: 2px;
	margin: 5px;
}

.image{
	position: absolute;
	top: 25px;
	left: 125px;
	width: 25vw;
	height: auto;
}

.image img{
	width: 100%;
	height: 100%;
}

.scrollToTop{
	position: fixed;
	bottom: 800px;
	right: 40px;
	width: 60px;
	height: 60px;
	z-index: 9997;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	cursor: pointer;
}

.scrollToTop.active{
	bottom: 40px;
	opacity: 1;
	visibility: visible;
}

.fa-arrow-alt-circle-up{
	font-size: 60px;
	color: #555656;
}

.timeline{
	position: relative;
}

.timeline:before{
	position: absolute;
	margin-left: -1px;
	left: 50%;
	width: 2px;
	height: 100%;
	content: "";
	background: rgb(255, 255, 255);
}

.dot{
	position: absolute;
	width: 25px;
	height: 25px;
	background: rgb(255, 255, 255);
	border-radius: 50%;
}

.s1{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.intro{
	color: #fff;
	position: relative;
}

#s1{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#s1 h1{
	bottom: 0;
	letter-spacing: 4px;
	color: #EEE6DB;
	margin-bottom: 70px;
}

.intro h2{
	letter-spacing: 4px;
	opacity: 0;
	transition: 1.5s;		
	margin-bottom: 70px;
}

.intro h2[data-scroll="in"]{
	opacity: 1;
	animation: left_to_right 1.5s ease;
}

.intro h3{
	letter-spacing: 4px;
	font-size: 22px;
	opacity: 0;
	transition: 1.5s;
}

.intro h3[data-scroll="in"]{
	opacity: 1;
	animation: left_to_right 1.5s ease;
}

.reverse .intro h2[data-scroll="in"]{
	opacity: 1;
	animation: right_to_left 1.5s ease;
}

.reverse .intro h3[data-scroll="in"]{
	opacity: 1;
	animation: right_to_left 1.5s ease;
}

.content_image{
	position: relative;
	max-width: 400px;
	max-height: 400px;
	opacity: 0;
	transition: 1.5s;
}

.content_image img{
	width: 100%;
	height: 100%;
}

.content_image[data-scroll="in"]{
	opacity: 1;
	animation: right_to_left 1.5s ease;
}

.reverse .content_image[data-scroll="in"]{
	opacity: 1;
	animation: left_to_right 1.5s ease;
}

.s2{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.reverse{
	flex-direction: row-reverse;
}

.s3{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.reverse{
	flex-direction: row-reverse;
}

#transmit::after{
	content: "\a";
	white-space: pre;
}

.s4{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.response{
	letter-spacing: 4px;
    z-index: 2;
    color: #fff;
    width: 40%;
    left: 45%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.response h2{
	margin-bottom: 50px;
}

.response h3{
	font-size: 22px;
}

.s4 .s4_image{
	width: 85%;
	height: 100%;
	position: absolute;
	right: 0;
}

.s4 .s4_image img{
	width: 100%;
	height: 100%;
}

@keyframes right_to_left {
	0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes left_to_right {
	0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

footer{
	overflow-x: hidden;
	width: 100%;
	bottom: 0;
	left: 0;
	position: relative;
	background-color: white;
}

.content{
	padding: 20px 0;
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.content .top{
	width: 100%;
	height: auto;
	text-align: center;
}

.content .top ul{
	padding: 0;
	margin: 0;
}

.content .top ul li{
	list-style: none;
	text-align: center;
	display: inline-block;
	width: 250px;
	height: auto;
	margin: 10px 60px;
	position: relative;
}

.content .top ul li img{
	width: 100%;
	height: 100%;
}

.school{
	width: 55%;
}

.ICS{
	width: 85%;
}

.social-media{
	display: flex;
	justify-content: center;
}

.social-media a{
	width: 40px;
	height: 40px;
	margin: 0 8px;
	border-radius: 50%;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-media a:nth-child(1){
	background-color: #4267B2;
	border: 2px solid #4267B2;
	transition: 0.5s;
}

.social-media a:nth-child(1):hover{
	color: #4267B2;
	background-color: #fff;
}

.social-media a:nth-child(2){
	background-color: #E1306C;
	border: 2px solid #E1306C;
	transition: 0.5s;
}

.social-media a:nth-child(2):hover{
	color: #E1306C;
	background-color: #fff;
}

footer .copyrights{
	margin-top: 20px;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: 300;
}

.copyrights p{
	margin-bottom: 0;
}

.copyrights p:nth-child(1){
	margin-right: 10px;
}

.copyrights p:nth-child(2){
	margin-left: 10px;
}

@media only screen and (max-width: 992px){
	.nav-links{
		visibility: hidden;
	}

	.header{
		justify-content: flex-end;
	}

	.mainNav{
		display: none;
	}

	.rwdBurger{
		display: inherit;
		cursor: pointer;
		z-index: 9999;
	}

	.rwdBurger div{
		display: inherit;
	}

	.rwdText{
		display: inherit;
	}
}

@media (max-width: 830px){
	.content{
		width: 100%;
	}

	.scrollToTop{
		right: 10px;
		width: 45px;
		height: 45px;
	}

	.fa-arrow-alt-circle-up{
		font-size: 45px;
	}

	footer .copyrights{
		margin-top: 0;
		flex-direction: column;
	}

	.copyrights p{
		font-size: 12px;
	}

	.copyrights p:nth-child(1){
		margin-right: 0px;
	}

	.copyrights p:nth-child(2){
		margin-left: 0px;
	}
}

@media (max-width: 768px){
	.image{
		visibility: hidden;
	}

	.big-wrapper{
		padding: 0px 60px;
	}

	.timeline:before{
		display: none;
		width: 0;
	}

	.dot{
		display: none;
	}

	#s1{
		height: 50vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.s1{
		flex-direction: column;
		height: 100vh;
	}

	.intro{
		margin-left: 0;
	}

	.intro h2{
		margin-top: 0px;
		margin-bottom: 40px;
	}

	.intro h3{
		line-height: 35px;
		margin-bottom: 0px;
	}

	.content_image{
		margin-right: 0;
	}

	.s2{
		height: 100vh;
		flex-direction: column;
	}

	.s2 .reverse{
		height: 100vh;
		flex-direction: column;
	}

	.s3{
		height: 100vh;
		flex-direction: column;
	}

	.s3 .reverse{
		height: 100vh;
		flex-direction: column;
	}

	.reverse .intro{
		margin-right: 0;
	}

	.reverse .content_image{
		margin-left: 0;
	}

	#transmit::after{
		content: "";
	}

	.s4{
		padding: 0px 40px;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 50px;
	}

	.response {
		position: relative;
		width: initial;
		left: initial;
	}

	.s4 .s4_image {
		position: relative;
	    width: 100%;
	    right: initial;
	}

	.s4 .s4_image{
		max-width: 300px;
		max-height: 300px;
	}
}

@media (max-height: 500px){
	.s1{
		margin-bottom: 200px;
	}

	.s2{
		margin-bottom: 200px;
	}

	.s3{
		margin-bottom: 200px;
	}

	.data_wrapper{
		flex-direction: row;
	}

	.data li {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
}
























